.full-width
{
	width: 100%;
	max-width: 100%;
}
.display-4
{
	font-size: 22px;
	color: black;
	text-decoration-style: initial;
}
.bg-primary
{
	background-color: #0275d8;
}
.color-white
{
	color:white;
}
.color-yellow
{
	color: yellow;
}
